<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome</title>
</head>
<body>
<p th:text="'Hello, ' + ${userName}"></p>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
<button onclick="location.href='/post/new'">게시글 작성</button>
<button onclick="location.href='/post/1'">게시글 보기</button>
<button th:if="${isAdmin}" onclick="location.href='/admin'">관리자 페이지</button>


</body>
</html>